<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Dalle API</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter a prompt" required />
    <input type="submit" value="Generate Images" />
  </form>
  {% if result0 %}
  <div class="grid3x3">
  <div><img src="{{ result0 }}"/></div>
  <div><img src="{{ result1 }}"/></div>
  <div><img src="{{ result2 }}"/></div>
  <div><img src="{{ result3 }}"/></div>
  <div><img src="{{ result4 }}"/></div>
  <div><img src="{{ result5 }}"/></div>
  <div><img src="{{ result6 }}"/></div>
  <div><img src="{{ result7 }}"/></div>
  <div><img src="{{ result8 }}"/></div>
  </div>
  {% endif %}

</body>
